<!DOCTYPE html>
<html lang="ru">
<head>
  <base href="/">
  <link rel="icon" type="image/x-icon" class="js-site-favicon" href="favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="root"></div>
</body>
</html>
